@use "../styles/variables";

section.armors {
  width: 95dvw;
  display: flex;
  flex-direction: column;
}

.armors-note {
  margin: 1rem;
}

.armors-table {
  margin-bottom: 1rem;
  font-size: 0.6rem;
  height: 60dvh;
  overflow: auto;

  .column-container {
    padding: 10px;
  }

  .column-container,
  .row,
  .table {
    display: flex;
    width: max-content;
  }

  .row {
    min-height: 2rem;
  }

  .row-0,
  .col-0,
  .row-5,
  .col-5 {
    width: 12rem;
  }

  .row-1,
  .row-2,
  .row-3,
  .col-1,
  .col-2,
  .col-3 {
    width: 5rem;
  }

  .row-4,
  .row-6,
  .row-7,
  .col-4,
  .col-6,
  .col-7 {
    width: 6rem;
  }
}

@media only screen and (min-width: 780px) {
  .armors-table {
    max-height: 75dvh;

    .row {
      min-height: 4rem;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .armors-table {
    width: 95dvw;

    .table {
      width: 100%;
    }

    .column-container,
    .row {
      width: auto;
      flex-grow: 1;
    }
  }
}
