@import "../styles/variables";

.opp-table {
  margin-bottom: 2em;
  font-size: 0.5em;
  max-height: 80dvh;
  height: auto;
  max-width: 95dvw;
  .table {
    max-height: 70dvh;
  }

  .column-container {
    p:hover {
      color: $brightAccent;
      cursor: pointer;
    }
  }

  .row {
    border-bottom: 1px solid $darkAccent2;

    &:hover {
      background-color: $darkAccent;
      cursor: default;
    }
  }

  .row,
  .column-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-between;
  }

  .row-0,
  .col-0 {
    width: 4em;
  }

  .row-1,
  .col-1 {
    width: 6em;
  }

  .row-2,
  .col-2 {
    width: 3em;
  }

  .row-3,
  .col-3 {
    width: 22em;
  }

  .row-4,
  .col-4 {
    margin-left: 1em;
    width: 6em;
  }
}

@media only screen and (min-width: 780px) {
  .opp-table {
    font-size: 0.8em;
    & > span {
      font-size: 1.4em;
    }
    .table {
      width: auto;
      max-width: 95dvw;
    }
    .row-0,
    .col-0 {
      width: 5em;
    }

    .row-1,
    .col-1 {
      width: 7em;
    }

    .row-2,
    .col-2 {
      width: 6em;
    }

    .row-3,
    .col-3 {
      width: 28em;
    }

    .row-4,
    .col-4 {
      width: 10em;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .opp-table {
    .table {
      max-width: none;
    }
    .row-3,
    .col-3 {
      width: 34em;
    }
  }
}
