@import '../styles/variables';

.questionNav {
  display: flex;
  flex-flow: row wrap;

  .navLink {
    display: flex;
    background-color: $navLinkBg;
    font-family: $plainFont;
    font-weight: 700;
    width: 2em;
    height: 2em;
    border: 1px solid $accentRed;
    border-radius: 0.3em;
    justify-content: center;
    align-items: center;
    color: $accentRed;

    &:hover {
      color: $hoverLink;
      border: 1px solid $hoverLink;
    }
  }

  .active {
    color: $activeLink;
    border: 1px solid $activeLink;
    border-radius: 0.3em;

    .navLink {
      color: $activeLink;
    }
  }

  .pending {
    color: $pendingLink;
    border: 1px solid $pendingLink;
    border-radius: 0.3em;
    .navLink {
      color: $pendingLink;
    }
  }
}
