@import "../styles/variables";

.question-table {
  .column-container {
    text-align: left;
    top: 0;
  }

  .row {
    &:hover {
      background-color: $darkAccent3;
    }
  }

  .focusRow {
    background-color: $darkAccent;
  }

  .table {
    margin-top: 0;
    width: 100%;
    .row {
      text-align: left;
      justify-content: flex-start;
    }
  }
}

.question-card {
  margin-top: 1rem;
  margin-right: auto;
  .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 780px) {
}

@media only screen and (min-width: 1080px) {
  .question-table {
    font-size: 12px;
  }

  .question-card {
    max-height: 80dvh;
    margin-left: 3rem;
    overflow-y: auto;
    width: 50dvw;
    @include custom-scrollbar;
  }
}
