@use "../styles/variables";

.tech-table {
  margin-bottom: 2rem;
  font-size: 0.6rem;
  height: 50dvh;
  max-width: 95dvw;
  overflow: auto;

  .column-container,
  .row,
  .table {
    width: min(max-content, 95dvw);
    min-width: max-content;
  }

  .row {
    height: 3rem;
  }

  .row-0,
  .col-0 {
    width: 10rem;
    
  }

  .row-1,
  .row-2,
  .col-1,
  .col-2,
  .row-3,
  .col-3,
  .row-4,
  .col-4,
  .row-5,
  .col-5 {
    width: 5rem;
  }

  .row-6,
  .col-6 {
    width: 6rem;
  }
}

.techCard .card .desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .card-bookRef {
    align-self: center;
  }
}

@media only screen and (min-width: 780px) {
  .tech-table .row {
    height: 4rem;
  }
}

@media only screen and (min-width: 1080px) {
  .tech-table {
    min-width: max-content;
    height: 85dvh;
  }
}