@import "../styles/variables";

.tech-table {
  margin-bottom: 2em;
  font-size: 0.6em;
  .table {
    max-height: 300px;
  }

  .search-continer {
    background-color: $cardbgColor;
  }

  .row-0,
  .col-0 {
    width: 6em;
  }

  .row-1,
  .col-1 {
    margin-left: 1em;
    width: 4em;
  }

  .row-2,
  .col-2 {
    width: 6em;
  }

  .row-3,
  .col-3 {
    width: 10em;
  }

  .row-4,
  .col-4 {
    margin-left: 1em;
    width: 7em;
  }
}

@media only screen and (min-width: 780px) {
  .tech-table {
    font-size: 0.8em;

    .table {
      max-height: 400px;
    }

    .row-0,
    .col-0 {
      width: 8em;
    }

    .row-1,
    .col-1 {
      width: 3em;
    }

    .row-2,
    .col-2 {
      margin-left: 1em;
      width: 5em;
    }

    .row-3,
    .col-3 {
      width: 24em;
      margin-left: 1em;
    }

    .row-4,
    .col-4 {
      margin-left: 1em;
      width: 6em;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .tech-table {
    .table {
      max-height: 80dvh;
    }
  }
}
