@use "../styles/variables";

.terrains-table {
  .row {
    min-height: 3rem;
  }

  .col-0,
  .row-0 {
    width: 6rem;
  }
  .col-1,
  .row-1 {
    width: 8rem;
  }
  .col-2,
  .row-2 {
    width: 3rem;
  }
}

@media only screen and (min-width: 1080px) {
  .terrains-table {
    width: 600px;
    overflow-x: hidden;
    .row-1,
    .col-1 {
      width: 10rem;
    }
    .column-container, .table {
      width: 100%;
    }
  }
}
