@import "../styles/variables";

.terrains-table {
  .col-0,
  .row-0 {
    width: 6rem;
  }
  .col-1,
  .row-1 {
    width: 8rem;
  }
  .col-2,
  .row-2 {
    width: 3rem;
  }
}

@media only screen and (min-width: 1080px) {
  .terrains-table {
    width: 500px;
    overflow-x: hidden;
    .column-container, .table {
      width: 100%;
    }
  }
}
