@import "../styles/variables";

.weapons-note {
  margin: 1em;
}

.weapons-table {
  margin-bottom: 2em;
  font-size: 0.5em;
  .table {
    max-height: 600px;
    overflow-x: auto;
  }

  .column-container {
    p:hover {
      color: $brightAccent;
      cursor: pointer;
    }
  }

  .row {
    border-bottom: 1px solid $darkAccent2;
    
    &:hover {
      background-color: $darkAccent;
      cursor: default;
    }
  }

  .row,
  .column-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
  }

  .row-0,
  .col-0 {
    width: 5em;
  }
  .row-1,
  .col-1 {
    width: 4em;
  }
  .row-2,
  .col-2 {
    width: 4em;
  }
  .row-3,
  .col-3 {
    width: 4em;
  }
  .row-4,
  .col-4 {
    width: 4em;
  }
  .row-5,
  .col-5 {
    width: 4em;
  }
  .row-6,
  .col-6 {
    width: 4em;
  }
  .row-7,
  .col-7 {
    width: 4em;
  }
  .row-8,
  .col-8 {
    width: 6em;
  }
  .row-9,
  .col-9 {
    width: 4em;
  }
  .row-10,
  .col-10 {
    width: 4em;
  }
}

@media only screen and (min-width: 780px) {
  .weapons-table {
    font-size: 0.8em;
    height: 80dvh;
    & > span {
      font-size: 1.4em;
    }
    .table {
      width: fit-content;
      max-height: 78dvh;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .weapons-table {
    .table {
      max-width: none;
    }
  }
}
