@import "../styles/variables";

section.weapons {
  width: 95%;
  display: flex;
  flex-direction: column;
}

.weapons-note {
  margin: 1em;
}

.weapons-table {
  margin-bottom: 2em;
  font-size: 0.5em;
  width: 95%;
  height: auto;
  max-height: 75dvh;
  flex-grow: 1;

  .table {
    max-height: 72dvh;
  }
  .row,
  .column-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-evenly;
  }

  .column-container {
    padding: 10px;
  }

  .row-1,
  .col-1,
  .row-2,
  .col-2,
  .col-4,
  .row-5,
  .col-5,
  .row-6,
  .col-6,
  .row-7,
  .col-7,
  .row-9,
  .col-9 {
    width: fit-content;
    padding: 5px 1em;
  }

  .row-0,
  .col-0 {
    width: fit-content;
    padding: 5px;
    padding-right: 1em;
  }
  .row-3,
  .col-3 {
    width: fit-content;
    padding: 5px 1em;
  }

  .row-8,
  .col-8 {
    width: fit-content;
    padding: 5px 1em;
  }
  .row-4 {
    width: fit-content;
    padding: 5px 1em;
  }
  .row-10,
  .col-10 {
    width: fit-content;
    padding: 5px 0;
    padding-left: 1em;
  }
}

@media only screen and (min-width: 780px) {
  .weapons-note {
    font-size: 1em;
  }

  .weapons-table {
    font-size: 0.8em;
    width: 100%;
    & > span {
      font-size: 1.2em;
    }
    .table {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .weapons-note {
    font-size: 1.2em;
  }
}
