@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Shadows+Into+Light&family=Spectral&display=swap');

$flavorFont: 'Shadows Into Light', 'Noto Sans JP', serif;
$plainFont: 'Spectral', 'Noto Sans JP', serif;

$accentRed: #dd1334;
$darkbgRed: #1f0207;
$accentOrange: rgb(255, 81, 0);
$bgColor: #242424;
$textColor: rgba(255, 255, 255, 0.87);

$navLinkBg: #301e1e;
$cardBorder: 3px double $accentRed;

$activeLink: orange;
$hoverLink: silver;
$pendingLink: green;

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: $bgColor;
    border-radius: 0.4rem;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 0.4rem;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darkred;
  }
}