@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Shadows+Into+Light&family=Spectral&display=swap');

$flavorFont: 'Shadows Into Light', 'Noto Sans JP', serif;
$plainFont: 'Spectral', 'Noto Sans JP', serif;
$card-bg: url('../assets/soft-kill.png');

$accentRed: #dd1334;

$navLinkBg: #301e1e;
$cardBorder: 3px double $accentRed;

$activeLink: orange;
$pendingLink: green;