@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Shadows+Into+Light&family=Spectral&display=swap');

$flavorFont: 'Shadows Into Light', 'Noto Sans JP', serif;
$plainFont: 'Spectral', 'Noto Sans JP', serif;
$card-bg: url('../assets/soft-kill.png');

$cardBorder: 3px double #dd1334;