@import '../styles/variables';

.card {
  border: $cardBorder;
  margin: 1em;
  background-image: $card-bg;
  width: 95%;

  .title {
    padding: 8px;
  }

  a div {
    background-color: #1d1d1d;
    border-bottom: 1px solid #fff;
  }

  .desc {
    padding: 8px;
  }
}

@media only screen and (min-width: 780px) {
  .card{
    width: 45%;
  }
}