@use "../styles/variables";

.card {
  border: variables.$cardBorder;
  background: variables.$cardbgColor;
  display: flex;
  flex-direction: column;

  .title {
    padding: 0.5rem 0.5rem;
    color: variables.$brightAccent;
  }

  a div {
    background-color: variables.$bgDark;
    border-bottom: 1px solid variables.$darkAccent;
    color: variables.$brightAccent;

    &:hover {
      color: variables.$hoverLink;
    }
  }

  .emphasis {
    font-weight: 700;
    margin: 1rem;
    padding-left: 1rem;
  }
}
.desc p {
  padding: 5px 1rem;
}

.card .card {
  margin: 0.7rem 1rem;
  border-color: grey;
  align-items: flex-start;
  width: 95%;
}
