@import '../styles/variables';

.card {
  border: $cardBorder;
  margin: 1em;
  background-image: $card-bg;
  width: 95%;
  display: flex;
  align-self: center;
  flex-direction: column;

  .title {
    padding: 0.5em;
  }

  a div {
    background-color: #1d1d1d;
    border-bottom: 1px solid #fff;

    &:hover {
      color: $hoverLink;
    }
  }

  .emphasis {
    font-weight: 700;
    margin: 1em;
  }

  .card {
    width: 95%;
  }
}

@media only screen and (min-width: 780px) {
  .card {
    width: 45%;
  }
}

.desc {
  padding: 1.5em;
}