@import "../styles/variables";

.search-container {
  position: relative;
  display: flex;
  margin-right: 100px;
  flex-direction: row;
  span {
    font-family: $plainFont;
    font-size: 12px;
    margin-right: 10px;
  }
}

.search-results {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: $bgColor;
  border: 1px solid grey;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}

.search-detail {
  border-bottom: 1px solid $textColor;
  font-size: 0.8em;
}

.search-results.visible {
  display: block;

  &:hover {
    background-color: $darkAccent;
  }
}

.search {
  padding: 1px;
  border-radius: 3px;
  border: 1px solid $darkAccent;
  &:focus {
    border-color: $accentColor;
  }
}

input[type="search"] {
  color: $hoverLink;
  background-color: $bgColor;
  &:focus {
    outline: none;
  }
}

.search-item:hover {
  color: $brightAccent;
}

.search-detail {
  color: $textColor;

  &:hover {
    color: $textColor;
  }
}

@media only screen and (min-width: 780px){
  .search-container span {
    font-family: $plainFont;
    font-size: 14px;
  }
}