@use "../styles/variables";

.search-container {
  position: relative;
  display: flex;
  margin-right: 100px;
  flex-direction: row;
  div {
    font-family: variables.$plainFont;
    font-size: 1rem;
    margin-right: 10px;
  }
}

.search-results {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: variables.$bgColor;
  border: 1px solid grey;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}

.search-detail {
  border-bottom: 1px solid variables.$textColor;
  font-size: 0.8rem;
}

.search-results.visible {
  display: block;

  &:hover {
    background-color: variables.$darkAccent;
  }
}

.search {
  padding: 1px;
  border-radius: 3px;
  border: 1px solid variables.$darkAccent;
  max-width: 40dvw;
  &:focus {
    border-color: variables.$accentColor;
  }
}

input[type="search"] {
  color: variables.$hoverLink;
  background-color: #2a2c3b;
  &:focus {
    outline: none;
  }
}

.search-item:hover {
  color: variables.$brightAccent;
}

.search-detail {
  color: variables.$textColor;

  &:hover {
    color: variables.$textColor;
  }
}

@media only screen and (min-width: 780px) {
  .search-container span {
    font-family: variables.$plainFont;
    font-size: 18px;
  }
}
