@use "./styles/variables";

html {
  background-image: variables.$card-bg;
}

a {
  color: variables.$brightAccent;
  transition: color 1s;
}

a:hover {
  transition: color 1s;
}

#announce-container {
  display: flex;
  border: 2px dashed rgba(0, 225, 255, 0.694);
  padding: 10px;
  flex-direction: column;
  max-width: 90%;
  width: fit-content;
  white-space: pre-line;
  max-height: 300px;
  overflow-y: scroll;
  justify-self: center;
  transition: border-color 1s;
  background-color: variables.$cardbgColor;
  @include variables.custom-scrollbar;
  cursor: pointer;
  &:hover {
    border-color: azure;
    transition: border-color 1s;
  }
  .announce-card {
    font-size: 1rem;
  }
  .announce-card .announce-title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.fadeout,
#announce-container.fadeout {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease-in-out, opacity 1.5s ease-out;
}

.topNav {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: variables.$bgColor;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 1rem;

  form {
    margin: 0.7rem;
    display: flex;
    flex-direction: row;
    span {
      margin-right: 0.5rem;
    }
  }

  img {
    height: 2.5rem;
    border: variables.$cardBorder;
    transition: border-color 1s;
  }

  .navLink:hover .title {
    color: variables.$brightAccent;
    transition: color 1s;
  }

  .navLink:hover img {
    border-color: variables.$brightAccent;
    transition: border-color 1s;
  }

  .title {
    display: flex;
    padding: 5px;
    align-items: center;
    transition: color 1s;
  }

  .navLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .active {
    color: variables.$activeLink;
  }

  .pending {
    color: variables.$pendingLink;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  .card .desc {
    color: variables.$textColor;
    width: 90%;
    padding: 20px;
  }

  .card:hover .title {
    color: variables.$hoverLink;
    transition: color 1s;
  }

  .card .title {
    border-bottom: 2px solid variables.$brightAccent;
    transition: color 1s;
  }
}

.fade {
  opacity: 1;
}

#view.loading {
  opacity: 0.25;
  transition: opacity 400ms;
  transition-delay: 400ms;
}

.table-container {
  margin: 0 1rem 1rem;
  background-color: variables.$cardbgColor;
  font-size: 0.7rem;
  height: 45dvh;
  border-radius: 5px;
  border: 1px solid variables.$darkAccent;
  border-bottom: 1px solid variables.$accentColor;
  width: 90dvw;
  overflow-y: auto;
  @include variables.custom-scrollbar;

  .table {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
  }

  .column-container {
    position: sticky;
    top: 3rem;
    z-index: 1;
  }
  .searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 2rem;
    font-size: 1.2rem;
    min-width: 200px;
    background-color: variables.$tableSearchBgColor;
    padding: 0.5rem;
  }
  .column-container {
    background: variables.$bpGradient;
    height: 3rem;
    align-items: center;

    p:hover {
      color: variables.$brightAccent;
      cursor: default;
    }
  }

  .row,
  .column-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .focusRow {
    background-color: variables.$darkAccent3;
  }

  .row {
    border-bottom: 1px solid variables.$darkAccent2;
    &:hover {
      background-color: variables.$darkAccent;
      cursor: pointer;
    }
  }
}

.title {
  font-family: variables.$flavorFont;
  font-size: 1.4rem;
  color: variables.$accentColor;
  margin: 0;
}

#view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;

  input[type="search"] {
    font-size: 1rem;
  }

  .search-container {
    margin: 0.5rem 0.5rem;
    background-color: variables.$cardbgColor;
  }
  div {
    font-size: 0.8rem;
  }
  .table > div {
    font-size: 0.8rem;
  }
}

#view .menu .card {
  width: 20rem;
  height: 15rem;
  margin: 1rem;
  & > .desc {
    overflow-y: auto;
    @include variables.custom-scrollbar;
  }
}

.detail-card {
  max-width: fit-content;
}

.detail-card > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80dvw;
}

@media only screen and (min-width: 780px) {
  #view div,
  #view .table > div {
    font-size: 1rem;
  }
  .menu {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 3rem;
  }
}

@media only screen and (min-width: 1080px) {
  .title {
    font-size: 1.6rem;
  }

  .table-container {
    height: 85dvh;
    width: 45dvw;
  }

  #view {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .menu .card {
      width: 30rem;
      height: 20rem;
    }

    .searchbar-container,
    div {
      font-size: 1.2rem;
    }
  }

  .detail-card {
    margin-left: 2rem;
  }

  .detail-card > .card {
    max-height: 80dvh;
    overflow-y: auto;
    max-width: 50dvw;
    min-width: 20dvw;
    @include variables.custom-scrollbar;
  }
}
