@import "./styles/variables";
$card-bg: url("./assets/soft-kill.png");

html {
  background-image: $card-bg;
}

.topNav {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $bgColor;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 1rem;

  form {
    margin: 0.7rem;
    display: flex;
    flex-direction: row;
    span {
      margin-right: 0.5rem;
    }
  }

  .title {
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .title:hover {
    color: $hoverLink;
  }

  .active {
    color: $activeLink;
  }

  .pending {
    color: $pendingLink;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.menu.fade {
  opacity: 1;
}

#view.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.table-container {
  margin: 0 1rem 1rem;
  background-color: $cardbgColor;
  font-size: 0.7rem;
  height: 45dvh;
  border-radius: 5px;
  border: 1px solid $darkAccent;
  border-bottom: 1px solid $accentColor;
  width: 90dvw;
  overflow-y: auto;
  @include custom-scrollbar;

  .table {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
  }
  .column-container {
    position: sticky;
    top: 25px;
    z-index: 1;
  }
  .searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 25px;
    font-size: 1.2rem;
    min-width: 200px;
    background-color: $cardbgColor;
  }
  .column-container {
    background: $bpGradient;
    height: 3dvh;
    align-items: center;

    p:hover {
      color: $brightAccent;
      cursor: default;
    }
  }

  .row,
  .column-container {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-around;
    text-align: center;
  }

  .focusRow {
    background-color: $darkAccent3;
  }

  .row {
    border-bottom: 1px solid $darkAccent2;
    &:hover {
      background-color: $darkAccent;
      cursor: pointer;
    }
  }
}

.title {
  font-family: $flavorFont;
  font-size: 1.4rem;
  color: $accentColor;
  margin: 0;
}

#view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;

  input[type="search"] {
    font-size: 1rem;
  }

  .search-container {
    margin: 0.5rem 0.5rem;
    background-color: $cardbgColor;
  }
  p {
    font-size: 0.8rem;
  }
}

#view .menu .card {
  width: 20rem;
  height: 15rem;
  margin: 1rem;
  & > .desc {
    overflow-y: auto;
    @include custom-scrollbar;
  }
}

.detail-card {
  max-width: fit-content;
}

.detail-card > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90dvw;
}

@media only screen and (min-width: 780px) {

  #view p {
    font-size: 1rem;
  }
  .menu {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0 3rem;
  }
}

@media only screen and (min-width: 1080px) {
  .title {
    font-size: 1.6rem;
  }

  .table-container {
    height: 85dvh;
    width: 45dvw;
  }

  #view {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    .menu .card {
      width: 30rem;
      height: 20rem;
    }

    .searchbar-container, p {
      font-size: 1.2rem;
    }
  }

  .detail-card {
    margin-left: 2rem;
  }

  .detail-card > .card {
    max-height: 80dvh;
    overflow-y: auto;
    max-width: 50dvw;
    width: auto;
    min-width: 20dvw;
    @include custom-scrollbar;
  }
}
