@import './styles/variables';
$card-bg: url('./assets/soft-kill.png');

html {
  background-image: $card-bg;
}

.topNav {
  width: 100%;
  height: 3em;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $bgColor;

  form {
    margin: 0.7em;
    display: flex;
    flex-direction: row;
    span {
      margin-right: 0.5em;
    }
  } 

  .title:hover {
    color: $hoverLink;
  }

  .active {
    color: $activeLink;
  }

  .pending {
    color: $pendingLink;
  }
}

#view.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}

.title {
  font-family: $flavorFont;
  font-size: 1.4em;
  color: $accentRed;
  margin: 0;
  padding: 1em;
}

#view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 780px) {
  #view {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: start;
  }

  .title {
    font-size: 1.6em;
  }
}